*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(241, 241, 241);
    
}

.web-Footer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(241, 241, 241);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    flex-wrap: wrap;
    font-size: 0.8em;
    color: rgb(241, 241, 241);
    padding: 5px 5px;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 226, 226);
    
}

.logo li a{
    display: block;
    color: red;
}